<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=IE8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>freeCodeCamp Voting App</title>
		<meta name="description" content="first backend project for freecodecamp.com"/>
		<meta name="keywords" content="back end, python, flask, freecodecamp"/>
		<meta name="author" content="Zachary Kearns" />
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<!--css-->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/> <!--CSS-->
		<script type="text/javascript" src="{{ url_for('static', filename='js/html5shiv.js') }}"></script>
		<!--jQuery-->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<!-- chart.js -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
		<!-- main.js -->
		<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
	</head>
<body>
   <header id="main-header">
      <div class="container">
         <a href="{{ url_for('routes.index') }}">
         	<img src="{{ url_for('static', filename='images/logo.svg') }}" alt="main site logo" id="logo">
         </a>
         <img src="{{ url_for('static', filename='images/menu-button.svg') }}" alt="menu button" id="menu-button">
         <nav id="main-nav">
            <ul class="list-group">
					{% if not session.username %}
						<li><a class="menu-item" href="{{ url_for('routes.signup') }}">Sign up</a></li>
    					<li><a class="menu-item" href="{{ url_for('routes.login') }}">Log in</a></li>
  					{% else %}
    					<li><a class="menu-item" href="{{ url_for('routes.logout') }}">Sign out</a></li>
						<li><a class="menu-item" href="{{ url_for('routes.mypolls') }}">My Polls</a></li>
	               <li><a class="menu-item" href="{{ url_for('routes.newpoll') }}">New Poll</a></li>
  					{% endif %}
               <li><a class="menu-item" href="{{ url_for('routes.index') }}">Home</a></li>
            </ul>
         </nav>
      </div>
   </header>
	<main class="container">
		{% block content %}
	   {% endblock %}
	</main>
	<footer>
		2017 Zachary Kearns
	</footer>
</body>
</html>
