{% extends "layout.html.j2" %}

{% block content %}
   <h1>My Polls</h1>
   {% if polls %}
      <table>
         <thead>
            <th>Name</th>
            <th>Options</th>
            <th>Total Votes</th>
            <th>Delete Poll</th>
            <th>View Poll</th>
         </thead>
         <tbody>
            {% for poll in polls %}
               <tr>
                  <td>{{ poll.name }}</td>
                  <td>
                     <ul>
                        {% for option in poll.options %}
                           <li>- {{ option.option }}</li>
                        {% endfor %}
                     </ul>
                  </td>
                  <td>{{ votes }}</td>
                  <td>
                     <a href="{{ url_for('routes.poll', id=poll.id) }}">View</a>
                  </td>
                  <td>
                     <a href="{{ url_for('routes.deletepoll', id=poll.id) }}">Delete</a>
                  </td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   {% else %}
      <p class="no-polls">No polls to show.</p>
   {% endif %}
{% endblock %}
