{% extends "layout.html.j2" %}

{% block content %}
   <h1>Poll</h1>
   {% if poll %}
      <h2 class="poll-name">{{ poll.name }}</h2>
      {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul class="poll-flashes">
            {% for message in messages %}
               <li class="error">{{ message }}</li>
            {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}
      <table>
         <thead>
            <th>Option</th>
            <th>Votes</th>
            <th>Vote</th>
         </thead>
         <tbody>
            {% for option in poll.options %}
               <tr>
                  <td>{{ option.option }}</td>
                  <td>{{ option.votes }}</td>
                  <td>
                     <a href="{{ url_for('routes.vote', id=poll.id, option=option.option) }}">Vote</a>
                  </td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   {% else %}
      <p>Poll doesn't exist.</p>
   {% endif %}
{% endblock %}
